<h2>Edit <%= @organisation.name %></h2>

<%= render partial: "form" %> 

<%= link_to "Delete", organisation_path(@organisation),
            method: :delete,
            data: { confirm: "Are you sure?" } %> 