<h2><%= @organisation.name %></h2>

<%= link_to "View Shifts", organisation_shifts_path(@organisation) %> |
<%= link_to "Edit", edit_organisation_path(@organisation) %> |
<%= link_to "Leave", organisation_path(@organisation),
            method: :delete,
            data: { confirm: "Are you sure?" } %>

