<% if flash[:notice] %>
  <div id='notice'>
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div id='notice'>
    <%= flash[:alert] %>
  </div>
<% end %>

<% if flash[:success] %>
  <div id='notice'>
    <%= flash[:success] %>
  </div>
<% end %>

<%# <% if @organisation.errors.any? %> 
  <%# <div id='notice' > %>
    <%# <% @organisation.errors.full_messages.each do |msg| %> 
      <%# <%= msg %> 
    <%# <% end %> 
  <%# </div> %>
<%# <% end %> 
