<section class='index-box'>
  <div id='WFM'>
    <h4>WORKFIERCE MANAGEMENT</h4>
  </div>
  <div id='grow'>
    <h1>Grow your business</h1>
    <h1>and engage your teams</h1>
  </div>
  <div id='no-1'>
    <h3>The world’s #1 platform for rostering, attendance,</h3>
    <h3>labour insights and workforce success.</h3>
  </div>
</section>