// Place all the styles related to the Auctions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background-image: image-url('space1');
  color: #fff;
  // font-family: 'Retrospective';
  font-family: 'Orbitron', sans-serif;
}

h1 {
  // font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  height: 2 vh;
}

a,
h2,
h3,
h4,
h5 {
  // font-family: 'Orbitron', sans-serif;
  font-style: normal;
  font-weight: 200;
  // height: 2vh;
}

#center,
.center {
  text-align: center;
  margin: 1% auto;
}

.bar-box {
  // padding: 3px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgba(0, 51, 51, 0.9);

  // background-color: #fadbdb;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  height: 80px;
  position: relative;
}

.li-box a {
  float: left;
  display: block;
  text-align: center;
  border-radius: 8px;
  padding: 23px 30px 50px;
  text-decoration: none;
  position: relative;
}

#vp {
  text-align: right;
  margin-top: 0px;
  margin-right: 2px;
  height: 0vh;
}
.logo-li {
  /* font-family: 'Retrospective'; */
  float: left;
  display: block;
  text-align: center;
  border-radius: 8px;
  /* // border: 2px solid #ff471a; */
  padding: 5px 5px 5px;
  /* // padding: 0.5em; */
  text-decoration: none;
  position: relative;
}

.logo {
  width: 60px;
  margin: 10% auto;
  border-radius: 50px;
  padding-top: 0px;
  left: 5px;
}

.box {
  width: 75%;
  height: 100%;
  margin-top: 0px;
  border-radius: 40px;
  overflow: auto;
}

.index-box {
  border-radius: 20px;
  padding: 2em;
  margin: 2% auto;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 70%;
  background-color: rgba(0, 51, 51, 0.6);
}

#WFM {
  margin: 2% auto;
  // color: #3e2181;
  color: #5536cc;
  text-align: center;
}

#grow {
  margin: 2% auto;
  margin-bottom: 10%;
  color: #fff;
  text-align: center;
}

#no-1 {
  margin: 2% auto;
  color: #fff;
  text-align: center;
}

.login-box {
  border-radius: 20px;
  padding: 0.5em;
  margin: 2% auto;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 40%;
  bottom: 10%;
  outline: #ff471a;
  border: 2px solid #fadbdb;
  background-color: rgba(0, 51, 51, 0.7);
  // background-size: 50%;
}

.edit-box {
  border-radius: 20px;
  padding: 0.5em;
  margin: 2% auto;
  width: 40%;
  bottom: 10%;
  outline: #ff471a;
}

.sml-text form {
  width: 20%;
}

form input[type='text'],
form input[type='email'],
form input[type='password'] {
  border-radius: 8px;
  width: 95%;
  padding: 0.3em;
  margin: 1% auto;
  position: relative;
  font-family: 'Orbitron', sans-serif;
  color: black;
  background-color: #fadbdb;
  outline: #ff471a;
  border: 2px solid #036363;
}

.sml-text form {
  width: 20px;
}

.sml-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 8px;
  color: #5536cc;
  height: 6vh;
  font-family: 'Orbitron', sans-serif;
  background-color: #fadbdb;
  border: 2px solid hsl(180, 94%, 20%);
}

.sml-leave {
  border-radius: 8px;
  margin-right: 40%;
  position: absolute;
  margin-top: 0px;
  color: #5536cc;
  height: 6vh;
  font-family: 'Orbitron', sans-serif;
  background-color: #fadbdb;
  border: 2px solid hsl(180, 94%, 20%);
}

.sml-link {
  // margin-left: auto;
  // margin-right: auto;
  // display: block;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  color: black;
  border-radius: 8px;
  height: 6vh;
  font-family: 'Orbitron', sans-serif;
  background-color: #fadbdb;
  border: 2px solid hsl(180, 94%, 20%);
}

.sml-join {
  border-radius: 8px;
  margin-right: 40%;
  position: absolute;
  margin-top: 0px;
  right: -2%;
  // margin: 1% auto;
  border-radius: 8px;
  color: #5536cc;
  height: 6vh;
  font-family: 'Orbitron', sans-serif;
  background-color: #fadbdb;
  border: 2px solid #036363;
}

.sml-edit {
  border-radius: 8px;
  margin-left: 40%;
  position: absolute;
  color: #5536cc;
  // height: 70px;
  // left: 12px;
  left: 3%;
  // margin: 1% auto;
  border-radius: 8px;
  height: 6vh;
  font-family: 'Orbitron', sans-serif;
  background-color: #fadbdb;
  border: 2px solid #036363;
}

.field {
  font-family: 'Orbitron', sans-serif;
}

.org-index {
  text-align: center;
  background-image: image-url('space7');
  background-size: 100%;
  border-radius: 20px;
  padding: 0.5em;
  margin: 2% auto;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 60%;
  bottom: 10%;
  outline: #ff471a;
  border: 2px solid #fadbdb;
  background-color: rgba(0, 51, 51, 0.7);
  // background-size: 50%;
}

.each-org {
  border-radius: 20px;
  padding: 0.5em;
  margin: 2% auto;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 60%;
  bottom: 10%;
  outline: #ff471a;
  border: 2px solid #fadbdb;
  background-color: rgba(0, 51, 51, 0.7);
}

#notice {
  // position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: relative;
  padding: 20px;
  width: 50%;
  color: black;
  border-radius: 12px;
  text-align: center;
  background-color: #fadbdb;
  box-shadow: 0px 10px 20px #5536cc;
  border: 2px solid #036363;
  margin-bottom: -7%;
  margin-top: 7%;
}

.logo-li:hover,
.li-box a:hover,
input[type='submit']:hover,
button:hover,
.sml-button:hover,
.sml-link:hover,
.sml-edit:hover,
.sml-join:hover,
select:hover {
  background-color: #5536cc;
  box-shadow: 0px 15px 20px #15a793;
  color: #fff;
  opacity: 0.6;
  transform: translateY(-7px);
}

a:link,
a:visited {
  // color: blue;
  color: #5536cc;
}

.show-org {
  border-radius: 20px;
  padding: 0.5em;
  margin: 2% auto;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 80%;
  bottom: 10%;
  outline: #ff471a;
  border: 2px solid #fadbdb;
  background-color: rgba(0, 51, 51, 0.7);
  // background-size: 50%;
}

.field-shifts {
  margin: 50% auto;
  margin-bottom: 2px;
  margin-top: 2px;
  border: 2px solid #fadbdb;
  border-radius: 12px;
  overflow: auto;
  // padding: 1em;
  // display: inline-block;
  // background-image: image-url('wallpaper-cards.png');

  height: 150px;

  // background-size: 50%;
}

.details {
  border-radius: 8px;
  padding: 0.5em;
  margin: 2% auto;
  display: absolute;
  // background-color: #fadbdb;
  // margin-top: 15%;
  // outline: #ff471a;
  // border: 2px solid #2596be;
  height: 150px;
}

#details-box {
  text-align: center;
  width: 40%;
  margin: 0 2%;
  padding: 1em;
  float: left;
}

.add-div {
  border-radius: 30px;
  padding: 1em;
  background-color: rgba(0, 51, 51, 0.5);
  margin-bottom: 15%;
}

#bio-box {
  text-align: center;
  width: 40%;
  // margin-bottom: 200px;
  margin: 0 2%;
  // height: 120%;
  padding: 1em;
  // border-radius: 30px;
  float: right;
  // overflow: auto;
}

.feed-box {
  border-radius: 12px;
  padding: 0.5em;
  bottom: 0%;
}

.post-K-profile {
  border-radius: 5px;
  margin-left: 40%;
  position: absolute;
  height: 70px;
  left: 8px;
}

table,
tr,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 5px;
}

table {
  border-collapse: collapse;
}
th {
  text-align: left;
}
//
